<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="shortcut icon" href="favicon.ico" />

  <!--meta content-->
  
  <meta name="author" content="All the people">
  <meta name="dcterms.rightsHolder" content="Built by People, United Kingdom, 2016">
  <title>Crowd Sourced Story Telling</title>
  <meta name="description" content="">

  <link type="text/css" href="style.css" rel="stylesheet" media="screen" />
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pusher/3.0.0/pusher.min.js"></script>
</head>

<body>
<div class="wrapper page-audience">

<h1>Choose your s-word</h1>
<h2>Turn your sound up!</h2>

<button id="ready">{{word.word}}</button>


<div id="pusher" data-key="{{PUSHKEY}}" data-thisurl="{{THIS_URL}}"></div>
<div id="word" data-word="{{word.word}}" data-index="{{word.index}}"></div>

<script type="text/javascript">
  // pusher
  var pushConfig = document.getElementById('pusher').dataset;
  var pusher = new Pusher(pushConfig.key, {encrypted:true, cluster:'eu'});
  Pusher.channel_auth_endpoint = pushConfig.thisurl+'/pusher/auth';
  pusher.connection.bind('state_change', function(states) {
      console.log("Pusher's current state is " + states.current);
  });
  // subscribe to channel
  var channel = pusher.subscribe('presence-literate-giggle');
  var meId;
  
  // Once subscribed, store the UID
  channel.bind('pusher:subscription_succeeded', function() {
      meId = channel.members.me.id;
  });

  channel.bind('client-finished-speaking', function(data) {
    if(parseInt(data.i) + 1 == document.getElementById('word').dataset.index) {
      sayWord(document.getElementById('word').dataset.word);
    }
  });

  function getRandom(start, end) {
    return Math.floor(Math.random() * (end - start)) + start  
  }

  function sayWord(word) {
    var msg = new SpeechSynthesisUtterance(word);
    var voices = window.speechSynthesis.getVoices();
    console.log(voices)
    msg.voice = voices[getRandom(0, voices.length)];
    msg.onend = function() {
      finishedSpeaking();
    }
    window.speechSynthesis.speak(msg);
  }

  function finishedSpeaking() {
    channel.trigger('client-finished-speaking', {i:document.getElementById('word').dataset.index});
  }

  document.getElementById('ready').addEventListener('click', function() {
    channel.trigger('client-ready', {id:meId});
  });

</script>

</body>
</html>