<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="shortcut icon" href="favicon.ico" />

  <!--meta content-->

  <meta name="author" content="All the people">
  <meta name="dcterms.rightsHolder" content="Built by People, United Kingdom, 2016">
  <title>Crowd Sourced Story Telling</title>
  <meta name="description" content="">

  <link type="text/css" href="style.css" rel="stylesheet" media="screen" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/pusher/3.0.0/pusher.min.js"></script>

</head>

<body>
<div class="wrapper page-index">
  <p class="info url-join">Join in! <a href="{{JOIN_URL}}" target="_blank">{{JOIN_URL}}</a></p>

  <h1>Come tell a story</h1>

  <div class="joined-dots">
  </div>

  <button id="ready">Ready</button>


  <p class="info creds">Made by <a href="http://twitter.com/rumyra">@rumyra</a> and <a href="http://twitter.com/">Marcus etc...</p>
</div><!--wrapper-->
<div id="pusher" data-key="{{PUSHKEY}}" data-thisurl="{{THIS_URL}}"></div>

<script type="text/javascript">

  // pusher
  var pushConfig = document.getElementById('pusher').dataset;
  var pusher = new Pusher(pushConfig.key, {encrypted:true, cluster:'eu'});
  Pusher.channel_auth_endpoint = pushConfig.thisurl+'/pusher/auth';
  pusher.connection.bind('state_change', function(states) {
      console.log("Pusher's current state is " + states.current);
  });
  var myId;
  // subscribe to channel
  var channel = pusher.subscribe('presence-literate-giggle');
  channel.bind('pusher:subscription_succeeded', function(members) {
    myId = members.me.id;
    members.each(function(member){
      // don't include ourself
      if(member.id === myId) {
        return
      } else {
       addMember(member.id, member.info);
      }
    })
  })

  channel.bind('pusher:member_added', function(member) {
    if(member.id !== myId) {
      addMember(member.id, member.info);
    }
  });

  channel.bind('pusher:member_removed', function(member) {
    removeMember(member.id);
  });

  channel.bind('client-ready', function(member) {
    readyMember(member.id);
  });

  function addMember(id, info) {
    var user = document.createElement('i');
    user.dataset.id = id;
    document.querySelector('.joined-dots').appendChild(user);
  }

  function removeMember(id) {
    document.querySelector(`[data-id='${id}']`).remove();
  }

  function readyMember(id) {
    document.querySelector(`[data-id='${id}']`).classList.add('ready');
  }

  document.getElementById('ready').addEventListener('click', function() {
    channel.trigger('client-finished-speaking', {i:-1});
  })

</script>

</body>
</html>
